.friends img {
  height: 200px;
  width: 150px;
  float: left;
  padding: 20px;

}
body{
  margin: 20px;
}

.myspace img {
  height: 23px;
  width: 80px;
  float: left;
  display: block;
}
.myspace {
  width: 100%;
}
