.friends {
  height: 150px;
  width: 150px;
  /*float: left;*/
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: #2754af 2px solid;
}
.myspace {
  height: 25px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  left: 50px;
}
body{
  margin: 20px;
}
p {
  text-align: center;
  color: #2754af;
  font-weight: bold;
}

#luke {
  text-align: left;
  color: black;
}
.friends-span {
  color: red;
  font-weight: bold;
}

h1 {
  font-size: 30px;
  padding: 10px;
  color: #d67246;
  background-color: #ffcd96;
}
#view-friends {
  color: red;
  font-weight: bold;
  padding-top: 30px;
  font-size: 15px;
  text-align: right;
}
